@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

.contact input::-webkit-input-placeholder, .contact textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

.contact input:focus::-webkit-input-placeholder, .contact textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

.contact input::-moz-placeholder, .contact textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

.contact input:focus::-moz-placeholder, .contact textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

.contact input::placeholder, .contact textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

.contact input:focus::placeholder,
.contact textarea:focus::placeholder {
  color: #bbb5af;
}


.contact input::-ms-placeholder, .contact textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

.contact input:focus::-ms-placeholder, .contact textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

.contact input:hover::-webkit-input-placeholder, .contact textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

.contact input:hover:focus::-webkit-input-placeholder, .contact textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

.contact input:hover::-moz-placeholder, .contact textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

.contact input:hover:focus::-moz-placeholder, .contact textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

.contact input:hover::placeholder, .contact textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

.contact input:hover:focus::placeholder, .contact textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

.contact input:hover::placeholder, .contact textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

.contact input:hover:focus::-ms-placeholder, 
.contact textarea:hover:focus:-ms-placeholder {
  color: #cbc6c1;
}

.contact body {
  font-family: 'Lato', sans-serif;
  background: lightgrey;
}

.contact header {
  position: relative;
  margin: 100px 0 25px 0;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
  background: lightgrey;
}

.contact #form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

.contact input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: #726659;
  
  border: solid 1px #b3aca7;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.contact input:hover {
  background: #b3aca7;
  color: #e2dedb;
}

.contact textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  
  border: solid 1px #b3aca7;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.contact textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}

.contact #submit {
  width: 470px;
  
  padding: 0;
  margin: -5px 0px 0px 0px;
  
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: black;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px #b3aca7;
  border-top: none;
}

.contact #submit:hover {
  color: #e2dedb;
}